@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  max-width: 1100px;
  background: transparent url("https://bkdevelopper.github.io/BilalKezadri_5_27042021/public/css/images/banniere/minion-bg.png") repeat fixed center top;
  height: 100%;
  margin: 0px auto 0 auto;
}

html {
  width: 70%;
  margin: auto;
}
@media all and (max-width: 1200px) {
  html {
    width: 100%;
  }
}

section {
  margin-top: 5em;
}

.custom-select {
  position: relative;
  display: block;
  max-width: 400px;
  min-width: 180px;
  margin: 0 auto;
  border: 1px solid #18da9c;
  background-color: white;
  z-index: 10;
}
@media all and (max-width: 1200px) {
  .custom-select {
    margin-top: 0.2em;
  }
}
.custom-select select {
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 12px 55px 15px 15px;
  font-size: 14px;
  color: black;
}
.custom-select:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  line-height: 38px;
  content: "∨";
  text-align: center;
  color: black;
  font-size: 24px;
  border-left: 1px solid #18da9c;
  z-index: -1;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
}

h2 {
  font-weight: bold;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media all and (max-width: 1200px) {
  .h2 {
    text-align: left;
    padding-left: 1rem;
  }
}

.header__container {
  display: flex;
  border-radius: 2em;
  background-color: white;
  margin-top: 1em;
  justify-content: space-between;
  align-items: center;
}
@media all and (max-width: 1100px) {
  .header__container {
    margin-right: 1em;
    margin-left: 1em;
  }
}
.header__container__logo {
  margin-left: 1em;
}
.header__container__basket {
  position: relative;
  margin-right: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header__container__basket__logo {
  width: 50%;
}
.header__container__basket #basketnumber {
  position: absolute;
  right: 27px;
  text-align: center;
  top: -9px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #18da9c;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: block;
}

.products {
  display: flex;
  border-radius: 2em;
  background-color: white;
  margin-top: 1em;
  height: 500px;
}
@media all and (max-width: 1200px) {
  .products {
    flex-direction: column;
    margin-right: 1em;
    margin-left: 1em;
    height: 800px;
  }
}
.products__left {
  height: 100%;
}
@media all and (max-width: 1200px) {
  .products__left {
    height: 70%;
  }
}
@media all and (max-width: 767px) {
  .products__left {
    height: 50%;
  }
}
.products__left__picture {
  width: 100%;
  height: 100%;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  object-fit: revert;
  padding: 0.2em;
}
@media all and (max-width: 1200px) {
  .products__left__picture {
    border-top-right-radius: 2em;
    border-bottom-left-radius: 0em;
  }
}
.products__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media all and (max-width: 767px) {
  .products__right {
    height: 50%;
    justify-content: normal;
  }
}
.products__right__top__container__title {
  text-align: center;
  padding-top: 1em;
}
.products__right__top__container__description {
  padding-top: 1em;
  padding-left: 1em;
}
.products__right__bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 30%;
}
@media all and (max-width: 767px) {
  .products__right__bottom {
    flex-direction: column;
    margin-top: 1em;
  }
}
.products__right__bottom__option {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #8080807a;
  width: 100%;
  justify-content: space-around;
  padding-right: 1.1em;
}
@media all and (max-width: 767px) {
  .products__right__bottom__option {
    border-right: 0px solid;
  }
}
.products__right__bottom__buy {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.products__right__bottom__buy__price {
  font-size: 2.2em;
  color: #18da9c;
}
.products__right__bottom__buy__btn {
  background-color: #18da9c;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.container__produits {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.container__produits__box {
  width: 45%;
  border-radius: 20px;
  background-color: white;
  padding: 5px;
  margin-bottom: 3em;
  box-shadow: 0px 2px 0px #55555547;
  height: 400px;
  position: relative;
}
@media all and (max-width: 1100px) {
  .container__produits__box {
    width: 100%;
    margin-right: 1em;
    margin-left: 1em;
  }
}
.container__produits__box__promo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 32px;
  line-height: 32px;
  letter-spacing: 0.04px;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  transform: rotate(8deg);
  background-color: #18da9c;
}
.container__produits__box__picture {
  width: 100%;
  height: 80%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  object-fit: cover;
}
@media all and (max-width: 1200px) {
  .container__produits__box__picture {
    object-fit: revert;
  }
}
.container__produits__box__text {
  margin-left: 14px;
  margin-top: -39px;
  padding-bottom: 1em;
  padding-top: 3em;
  white-space: nowrap;
}
.container__produits__box__text__name {
  font-size: 1em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  text-align: center;
}
.container__produits__box__text__price {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: auto;
  align-items: center;
}
.container__produits__box__text__price-reduc {
  font-size: 1em;
  color: gray;
}
.container__produits__box__text__price-true {
  font-size: 1.2em;
  color: #18da9c;
}

.container__table {
  margin: 1em 0;
  min-width: 300px;
  margin: auto;
  margin-top: 2em;
  width: 91%;
}
.container__table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.container__table th {
  display: none;
}
.container__table td {
  display: block;
}
.container__table td:first-child {
  padding-top: 0.5em;
}
.container__table td:last-child {
  padding-bottom: 0.5em;
}
.container__table td:before {
  content: attr(data-th) " ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .container__table td:before {
    display: none;
  }
}
.container__table th, .container__table td {
  text-align: left;
}
@media (min-width: 480px) {
  .container__table th, .container__table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
  .container__table th:first-child, .container__table td:first-child {
    padding-left: 0;
  }
  .container__table th:last-child, .container__table td:last-child {
    padding-right: 0;
  }
}

.container__table {
  background: #FFF;
  color: #000;
  border-radius: 0.4em;
  overflow: hidden;
}
.container__table tr {
  border-color: #46637f;
}
.container__table th, .container__table td {
  margin: 0.5em 1em;
}
@media (min-width: 480px) {
  .container__table th, .container__table td {
    padding: 1em !important;
  }
}
.container__table th, .container__table td:before {
  color: #18da9c;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
form .form-group {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}
form .form-group-btn {
  display: flex;
}
form .form-group-btn .clear {
  margin-right: 2em;
}
form > input {
  flex: 1 1 10ch;
  margin: 0.5rem;
}
form > input[type=email] {
  flex: 3 1 30ch;
}

input {
  border: none;
  background: white;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
}
input[type=submit] {
  background: #18da9c;
  color: white;
  box-shadow: 0 0.75rem 0.5rem -0.5rem #e6b3b3;
  cursor: pointer;
}

#clear-command {
  border: none;
  background: #ededed;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  background: #18da9c;
  color: white;
  box-shadow: 0 0.75rem 0.5rem -0.5rem #e6b3b3;
  cursor: pointer;
}

.nothing {
  text-align: center;
  margin-top: 2em;
  font-size: 2em;
}

.confirmation {
  text-align: center;
  margin-top: 1em;
  font-size: 1.2em;
}

/*# sourceMappingURL=style.css.map */
