.header{    
    &__container{
        display: flex;
        border-radius: 2em;
        background-color: white;
        margin-top: 1em;        
        justify-content: space-between;        
        align-items: center;
        @media all and (max-width: 1100px) {
            margin-right: 1em;
            margin-left: 1em;
        }
        &__logo{
            margin-left: 1em;
        }
        &__basket{
            position: relative;
            margin-right: 1em;
            display: flex;
            align-items: center;
            justify-content: space-around;
            &__logo{
                width: 50%;
            }
            #basketnumber{
                position: absolute;
                right: 27px;
                text-align: center;
                top: -9px;
                width: 21px;
                height: 21px;
                border-radius: 50%;
                background: #18da9c;
                color: #fff;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                display: block;
            }
        }
    }

}