*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



body {
    box-sizing: border-box;
    max-width: 1366px;
    background: transparent url("https://boutique.plushtoy.fr/WebRoot/ce_fr/Shops/186372/MediaGallery/layout/gral-bg1.png?CachePrevention=1443520005") repeat fixed center top;

}
html{
    width: 70%;
    margin: auto;
    @media all and (max-width: 1200px) {
        width: 100%;
    }
    
}