*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



body {
    box-sizing: border-box;
    max-width: 1366px;
    background: transparent url("https://bkdevelopper.github.io/BilalKezadri_5_27042021/public/css/images/banniere/minion-bg.png") repeat fixed center top;

}
html{
    width: 70%;
    margin: auto;
    @media all and (max-width: 1200px) {
        width: 100%;
    }
    
}