body {
    font-family: 'Roboto', sans-serif;
    
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    font-style: italic;
}

h2{
    font-weight: bold;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

button {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}