@mixin heading-shadow($colour:lightness-shift($colour-primary), $offset: $heading-shadow-size){
    text-shadow: $offset $offset $colour;
}

@mixin border($colour:$colour-primary) {
    border: .1rem solid $colour;
}

@mixin img-ratio {
    width: 100%;
        display: block;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
}

@mixin btn {
    cursor: pointer;
    border: none;
    margin: auto;    
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    height: 3rem;
    font-size: 1rem;
    width: 70%;
    max-width: 250px;
    border-radius: 5rem;
    background: linear-gradient(to top left, $colour-primary, $colour-secondary);
    color: white;
    box-shadow: 1px 4px 8px 0px #8080809e;
}