body{
    margin:auto;
    width: 80%;
    font-family: 'Raleway', sans-serif;
}
h1, h2 {
	font-size: 1.1em;
	margin-top: 50px;
	margin-bottom: 15px;
	height: 2%;
}
/***********************************HEADER********************************/
header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 75px;
    width: 100%;
}
.header_picture{
    width: 140px;
    height: 100%;
}
.menu {
	display: flex;
	
	align-items: flex-end;

	list-style: none;
	
}
.menu > nav {
	width: 100%;

}
.menu > nav > ul {
	display: flex;
	list-style-type: none;
	
	height: 100%;
	
}
.menu > a {
	margin: 15px 15px 15px 15px;
	color: #0065FC;
	height: 50px;
    font-weight: bold;
    text-decoration: none; 
    color: #0065FC;
    display: flex;
    align-items: flex-end;
}

.menu > nav > ul > li  {
    padding-top: 2em;
}

.header_btn_1{    
    border-top: 10px solid white;
    width: 10em;
    text-align: center;
}
.header_btn_1:hover{    
    border-top: 10px solid #0065FC;
}
.header_btn_2{    
    border-top: 10px solid white;
    width: 10em;
    text-align: center;
}
.header_btn_2:hover{  
    border-top: 10px solid #0065FC;
}
.header_btn_1 > a{    
    text-decoration: none;
    color:#0065FC;
}

.header_btn_2 > a{    
    text-decoration: none;
    color:black;
}
/***********************SECTION N°1********************/
.search {
	display: flex;
	height: 45px;
	margin-bottom: 30px;
}
.search > i.localisation {
    display: flex;
    align-items: center;
	justify-content: center;
	background-color: #F2F2F2;
	color: black;
	border-top-left-radius: 11px;
	border-bottom-left-radius: 11px;
	width: 3em;

}
input {
	height: 90%;
    border: none;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
button {
	background-color: #0065FC;
	color: white;
	border-top-right-radius: 11px;
	border-bottom-right-radius: 11px;
	font-family: 'Raleway', sans-serif;
    width: 8em;
    height: 100%;
    font-weight: bold;
    border: none;
}
.search > .icone-recherche {
    display: none;
}
