@media all and (max-width: 1200px) {
    #section_two {
        flex-direction: column;
    }

    .container {
        width: 100%;
        padding: 0 0em 1em 1.1em;
    }

    .container_1 {
        width: 100%;
        margin-top: 2em;
    }

    .text-price {
        font-size: 0.9em;
    }

    .text-city {
        font-size: 1em;
    }

    .text_li {
        width: 100%;
    }

    .body {
        width: 85%;
    }

    footer {
        height: auto;
    }

    .footer_info {
        margin-right: 1EM;
    }
}